<link rel="stylesheet" href="stylesheets/footer.css">
<script src="https://kit.fontawesome.com/1c2cc3bbac.js" crossorigin="anonymous"></script>

</script>
<footer id="footer">

    <a href="https://www.facebook.com/pero.pandiloski"><i class="fab fa-facebook-f icon-footer"></i></a>
    <a href="https://www.instagram.com/peropandiloski/"><i class="fab fa-instagram icon-footer"></i></a>
    <a href="https://www.linkedin.com/in/pero-pandiloski"><i class="fab fa-linkedin-in icon-footer"></i></a>
    <a href="https://github.com/peropandiloski"><i class="fab fa-github icon-footer"></i></a>
   
    <p class="footer-paragraph">© Copyright 2021 Health Care App</p>
    <p class="footer-paragraph">SEMOS EDUCATION</p>
    <p class="footer-paragraph">Created by Pero Pandiloski</p>

  </footer>