<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css" />


  <ul class="nav justify-content-center">
    <li>
      <img alt='healthcareapp' src="images/logo-4.png" class="image-style"/>
    </li>
  <li class="nav-item">
    <a class="nav-link active" href="/">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/doctors">Doctors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/patients">Patients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/drugs">Drugs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pharmacies">Pharmacies</a>
  </li>
</ul>
