body{
        background-color: #a7e0fa;
}
.heading{
    
        font-size: 30px;
        line-height: 40px;
        margin: 1em 0 .6em 0;
        font-weight: normal;
        color: black;
        font-family: 'Hammersmith One', sans-serif;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
        position: relative;  
        text-align: center;      
}

.container{
        width: 80%;
        background-color:#a7e0fa;
}

.content{
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        margin-top:15px;   
        box-shadow: 3px 5px 3px #888888;
}
.create-content{
        width: 87%;
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 30px;
        margin-top:15px;
        margin-left:100px;
        box-shadow: 3px 2px rgb(178, 179, 180); 
        border-radius:10px;
}
.update-content{
        width: 87%;
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 30px;
        margin-top:15px;
        margin-left:100px;
        box-shadow: 3px 2px rgb(178, 179, 180); 
        border-radius:10px;
}

.btn-primary{
        margin-bottom: 10px;
        width: 150px;
        box-shadow: 3px 2px rgb(178, 179, 180); 
}

.btn-secondary{
        margin-left: 10px;
        margin-bottom: 10px;
        box-shadow: 3px 2px rgb(178, 179, 180); 
}
.btn:hover{
        transform: scale(1.1);
        font-weight: bold;
}




