body{
  background-color: #a7e0fa;
}
.nav-item :hover {
    border-bottom: 2px solid #00B7FF;
    background-color: #ffffff;
    font-weight: bold;
    border-radius:10px;
  }
.nav-link{
    color: #0a7ac5;
}

.image-style{
    
        max-width: 8rem;
        max-height: 8rem;
      
  }
.nav-content{
      background-color: #dddddd;
      height: 3.5rem;
      padding: 10px; 
  }

  .heading{
    
    font-size: 30px;
    line-height: 40px;
    margin: 1em 0 .6em 0;
    font-weight: normal;
    color: black;
    font-family: 'Hammersmith One', sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    position: relative;        
}